@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .msg-icon-container {
    @apply group-hover:flex hidden absolute right-2 -top-[1em]
  }

  .msg-icon-container > button {
    @apply bg-white border-black px-2 py-0.5 border hover:bg-slate-100
  }

  .sidebar-button-container {
    @apply grow justify-center flex hover:bg-slate-200 shrink-0 cursor-pointer
  }
}

body, #app {
  font-family: roboto, sans-serif;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-feature-settings: "ss04" on;
  -webkit-text-size-adjust: none;
  font-size: 16px;
  line-height: 1.2em;
}

@font-face {
  font-family: DroidSansMonoSlashed;
  src: url("./fonts/DroidSansMonoSlashed.ttf");
}

a[href] {
  color: #045;
}

.box-border {
 box-shadow: inset 0px 0px 0px 1px rgb(0, 20, 80);
}

.🍂 pre {
 display:block;
 overflow-x:auto;
 padding:3px 5px;
 font-family: DroidSansMonoSlashed;
 font-size: 0.8em;
 line-height: 1em;
 box-shadow: inset 0px 0px 0px 1px rgb(0, 20, 80);
}