@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [data-theme="glimmer"] {
      --color-document: #FCE6FF;
      --maincolor: #000;
      --color-item-hover: #DAB0E9;
      --color-accent: #F2C7F8;
      --color-text-accent: #FFF;
      --color-accent-2: #A578AB;
      --color-link: #036785;
      --color-link-hover: #08BAB7;
      --color-notification: #8587EC;
      --color-notification-hover: #98A2EF;
      --color-border: #000;
  }

  [data-theme="dark"] {
      --color-document: #222;
      --maincolor: #EEE;
      --color-item-hover: #111;
      --color-accent: #333;
      --color-text-accent: #EEE;
      --color-accent-2: #111;
      --color-link: #9CE;
      --color-link-hover: #5CE;
      --color-notification: #228;
      --color-notification-hover: #44A;
      --color-border: #555;
  }
}

@layer components {
  .msg-icon-container {
    @apply group-hover:flex hidden absolute right-2 -top-[1em]
  }

  .msg-icon-container > button {
    @apply bg-accent border-bcol px-2 py-0.5 border hover:bg-item-hover
  }

  .sidebar-button-container {
    @apply grow justify-center flex hover:bg-item-hover shrink-0 cursor-pointer
  }

  a[href] {
    @apply text-link hover:text-link-hover
  }

  .activity-bar {
    @apply min-h-[1.5em] h-[1.5em] leading-[1.5em] border-b border-bcol
  }
}

.chat-box {
  box-shadow: inset 0px 0px 0px 1px var(--color-border);
}

body, #app {
  font-family: roboto, sans-serif;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-feature-settings: "ss04" on;
  -webkit-text-size-adjust: none;
  font-size: 16px;
  line-height: 1.2em;
}

@font-face {
  font-family: DroidSansMonoSlashed;
  src: url("./fonts/DroidSansMonoSlashed.ttf");
}

.box-border {
 box-shadow: inset 0px 0px 0px 1px rgb(0, 20, 80);
}

.🍂 pre {
 display:block;
 overflow-x:auto;
 padding:3px 5px;
 font-family: DroidSansMonoSlashed;
 font-size: 0.8em;
 line-height: 1em;
 box-shadow: inset 0px 0px 0px 1px rgb(0, 20, 80);
}

.🍂 img {
  cursor: pointer;
}